@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<ul>Genre: @Model.Genre</ul>
<ul>Release Date: @Model.ReleaseDate</ul>
<ul>Date Added: @Model.DateAdded</ul>
<ul>Number in Stock: @Model.NumberInStock</ul>